'use strict';

module.exports = {
  aws: {
    accessKeyId: process.env.AMAZON_AWS_ACCESS_KEY || '',
    secretAccessKey: process.env.AMAZON_AWS_SECRET_ACCESS_KEY || ''
  },
  gmail: {
    user: AMAZON_NINTENDO_CHECKER_GMAIL_USER || '',
    pass: AMAZON_NINTENDO_CHECKER_GMAIL_PASS || ''
  }
  amiibo: {
    from: AMAZON_NINTENDO_CHECKER_AMIIBO_FROM || '',
    to: AMAZON_NINTENDO_CHECKER_AMIIBO_TO || '',
    subject: 'Amazon Amiibo Updates!'
  },
  skullkid: {
    from: AMAZON_NINTENDO_CHECKER_SKULLKID_FROM || '',
    to: AMAZON_NINTENDO_CHECKER_SKULLKID_TO || '',
    subject: 'Amazon Skullkid Updates!'
  },
  threeDS: {
    from: AMAZON_NINTENDO_CHECKER_THREEDS_FROM || '',
    to: AMAZON_NINTENDO_CHECKER_THREEDS_TO || '',
    subject: 'Amazon New 3DS XL Legend of Zelda: Majora\'s Mask Limited Edition Updates!'
  }
};